{% include "header.html" %}
<div class="container-zod">
    <h3>About Us</h3>
    <p>
        Dreger Kenya Ltd is a service support company that deals in Car Rentals, Driving Instruction and Consultancy
        among other services. ‘Our clients, Our business’. Our aim is to offer our services with passion, transparency
        and be supportive as much as we can.
    </p>
    <p>
        Our sociable and skilled crew understands your rental needs and cares about safety and comfort. While in town,
        you might be thinking of an economy car, All Wheel Drive, family sedan, luxury car, a van or truck, we are the
        solution for your car rental needs.
    </p>
    <p>
        At Dreger Kenya Ltd, we are delighted to support you choose the right vehicle that suits your needs. From the
        moment you walk through our doors to the time you drive away; you can be assured a great personalized customer
        service. We understand your local geography and our vehicles are picked with great consideration to meet your
        needs because we are 100% Kenyan breed.
    </p>
    <p>
        Our key assets are our clients who uses our vehicles. We believe the idea to deliver these services is vital for
        socio-economic growth of the community. We are passionate about delivering value, and we want our service to be
        great, not simply good.
    </p>
    <p>
        We have adopted a clear purpose statement that sums up the way we like to do business: 'Passionate, Personalized
        service and Conformance to satisfaction'.
    </p>
    <h3>Our Pricing</h3>
    <p>
        Our prices are well orchestrated to include all fees and taxes. The tag price is what you pay, there are no
        hidden charges at Dreger Kenya booking - we display the full Car Rental price, so you can pick it up your rental
        car with worries about Taxes, Stamp Duties, Premium Location fees. All are all included.
    </p>
</div>

{% include "footer.html" %}